# Dependencies
/node_modules

# Production
/build
.docusaurus
.cache-loader

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp

# Local preview markers
.deskpi-local
.reports
